<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MainEntryUrl" value="http://user.snh48.com/vip48.php?username={0}&amp;password={1}&amp;act=login&amp;_={2}"/>
    <add key="StartTime" value="1/31/2017 17:45:00"/>
  </appSettings>
</configuration>